h1 {
  text-align: center;
}
.main_board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  background-color: #898989;
}
.resistor_img {
  width: 70%;
}
.resistance {
  display: flex;
}
